{{#if logged_in}}
      <h4>Leave a comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>
{{else}}
      <h4>You must <a href="/login">log in or sign up</a> to leave a comment.</h4>
{{/if}}