<!-- Conditionally render login or logout links -->
{{#if logged_in}}
    <li><a href="#section3">Dashboard</a></li>
    <li><a href="#section3">Logout</a></li>
{{else}}
    <a href="/login">login</a>
{{/if}}