<!-- Conditionally render login or logout links -->
{{#if logged_in}}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><button id="logout">Logout</button></li>
    <script src="./js/logout.js"></script>
{{else}}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>

{{/if}}
